//@import "../styles/variables";
@import "styles/variables";
.mainLayoutContainer {
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100vh;
  width: 100%;
  background-color: #f8e9d8;
}

/*.container {*/
/*  !*display: inline-block;*!*/
/*  max-width: 36rem;*/
/*  padding: 0 1rem;*/
/*  margin: 3rem auto 6rem;*/
/*  border-width: 5px;*/
/*  border-style: solid;*/
/*  border-color: blue;*/
/*}*/

.header {
  /*flow, damit navBar über gesamte Breite reicht*/
  display: flow;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  padding: 1rem;
  background-color: #800C23;
}
