// don´t put CSS here
@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/sass/utilities/functions";

$orange: #ff8606;
$orange-invert: findColorInvert($orange);
$my-background: #f8e9d8;
$my-background-invert: findColorInvert($my-background);
$my-red: #800c23;
$my-red-invert: findColorInvert($my-red);

// Adding a Secondary Color
$secondary: #f8e9d8;
$secondary-invert: findColorInvert(#f8e9d8);
$secondary-light: findLightColor(#f8e9d8);
$secondary-dark: findDarkColor(#f8e9d8);
