/*globale styles werden in der _app importiert*/

.mainContainer {
  display: inline-block;
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
  border-width: 5px;
  border-style: solid;
  border-color: blue;
}
